ul {
    margin-left: -36px;}
    div.product-thumbShim
       {
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 100%;
        background-color: #282c3f;
        -webkit-transition: visibility 0s,opacity .5s linear;
        transition: visibility 0s,opacity .5s linear;
        visibility: hidden;
        opacity: 0;
      }
      li.product-base {
        width: 180px;
        height: 332px;
        text-align: center;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        transition: all 500ms;
        margin: 0 30px 20px 0;}

    li.product-base a {
          text-decoration: none;
          background-color: transparent;
          color: #282c3f;}
    li.product-thumb {
            height: 240px;
            display: block;
            background-color: transparent;
            opacity: 1;
            width: 100%;
            object-fit: contain;
     }
      li.product-productMetaInfo {
            position: relative;
            z-index: 2;
            background: #fff;
            height: 100%;
            padding: 0 5px;
      }
    li.product-brand, li.product-product {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 13px;
              font-weight: 500;
              line-height: 14px;
              color: #282c3f;
              text-transform: capitalize;
              margin-top: 10px;
            }
            .product-price {
              font-size: 13px;
              line-height: 15px;
              color: #282c3f;
              margin: 10px 0 0;
              white-space: nowrap;
              font-weight: 500;
            }
            .product-sizes {
              font-size: 11px;
              display: none;
              color: #3e4152;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-top: 6px;
            }
          
        
       
        

        div.product-actions {
          position: absolute;
          left: 0;
          bottom: 40px;
          border-bottom: 1px solid #eaeaec;
          border-top: 1px solid #eaeaec;
          background: #fff;
          width: 100%;
        }
          span.product-actionsButton {
            line-height: 20px;
            margin: 10px 0;
            font-weight: 800;
            font-size: 11px;
            color: #526cd0;
            text-transform: uppercase;
            display: inline-block;
            cursor: pointer;}
           .product-wishlist {
              float: left;
              width: 40%;
            }
           .product-addToBag {
              width: 60%;
              float: left;
            }
            .product-addToBag span {
                border-left: 1px dotted #d4d5d9;
                display: block;
              }
           
      .product-thumbShim {
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 100%;
        background-color: #282c3f;
        -webkit-transition: visibility 0s,opacity .5s linear;
        transition: visibility 0s,opacity .5s linear;
        visibility: hidden;
        opacity: 0;
      }  
    
    li.product-base:hover {
      outline: 1px solid #eaeaec;
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
      div.product-actions {
        z-index: 10;
      }
  
  